ul {
    margin-right: -10px;
    margin-left: -10px;
    padding-left: 75px;
    margin-top: -10px;
    list-style-type: none;
    overflow: hidden;
    background-color: #202020;

}

li {
    float: left;
}

li .links {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li .links:hover {
    background-color: #232323
}