.subzero {
	height: 550px;
	margin-top: 46px;
}

.form-container {
	display: flex;
	flex-direction: row;
	height: 600px;
}

.formulario {
	background-color: red;
	height: 500px;
	margin-top: 30px;
	width: 883px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}